* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  background-color: #141414;
}
img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  display: block;
}

.card {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 30px auto;
  background-color: #4263a1;
}
.contenido {
  color: #fff;
  text-align: center;
  padding: 30px 10px;
}
.imagen {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -100;
  border-radius: 20px;
  transition: transform 0.5s;
}

.card:hover .imagen {
  transform: translateY(100%);
}
